In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('email.csv')

In [5]:
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [7]:
df.shape

(5573, 2)

In [9]:
#1.data cleaning
#2.EDA
#Text processing
#Model building
#evaluation
#Website

In [11]:
#Data cleaning

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5573 non-null   object
 1   Message   5573 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [15]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [17]:
df['Category'].value_counts()

Category
ham               4825
spam               747
{"mode":"full"       1
Name: count, dtype: int64

In [19]:
df=df[df['Category'] != '{"mode":"full"']

In [21]:
df.shape

(5572, 2)

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
df['Category']=le.fit_transform(df['Category'])

In [27]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [29]:
df.duplicated().sum()

415

In [31]:
df=df.drop_duplicates(keep='first')

In [33]:
df.duplicated().sum()

0

In [35]:
df.shape

(5157, 2)

In [37]:
#EDA

In [39]:
df['Category'].value_counts()

Category
0    4516
1     641
Name: count, dtype: int64

In [41]:
import nltk

In [42]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mahan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [45]:
df['Message'].apply(len)

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     36
5569     57
5570    125
5571     26
Name: Message, Length: 5157, dtype: int64

In [47]:
df['num_words']=df['Message'].apply(lambda x: len(nltk.word_tokenize(x)))

In [48]:
df.head()

   Category                                            Message  num_words
0         0  Go until jurong point, crazy.. Available only ...         24
1         0                      Ok lar... Joking wif u oni...          8
2         1  Free entry in 2 a wkly comp to win FA Cup fina...         37
3         0  U dun say so early hor... U c already then say...         13
4         0  Nah I don't think he goes to usf, he lives aro...         15

In [51]:
df['num_words'].describe()

count    5157.000000
mean       18.560403
std        13.405970
min         1.000000
25%         9.000000
50%        15.000000
75%        26.000000
max       220.000000
Name: num_words, dtype: float64

In [53]:
df[df['Category']==0]

      Category                                            Message  num_words
0            0  Go until jurong point, crazy.. Available only ...         24
1            0                      Ok lar... Joking wif u oni...          8
3            0  U dun say so early hor... U c already then say...         13
4            0  Nah I don't think he goes to usf, he lives aro...         15
6            0  Even my brother is not like to speak with me. ...         18
...        ...                                                ...        ...
5565         0                                       Huh y lei...          4
5568         0               Will ü b going to esplanade fr home?          9
5569         0  Pity, * was in mood for that. So...any other s...         15
5570         0  The guy did some bitching but I acted like i'd...         27
5571         0                         Rofl. Its true to its name          7

[4516 rows x 3 columns]

In [55]:
df[df['Category']==0]['num_words'].describe()

count    4516.000000
mean       17.267715
std        13.588065
min         1.000000
25%         8.000000
50%        13.000000
75%        22.000000
max       220.000000
Name: num_words, dtype: float64

In [57]:
df[df['Category']==1]['num_words'].describe()

count    641.000000
mean      27.667707
std        7.103501
min        2.000000
25%       25.000000
50%       29.000000
75%       32.000000
max       46.000000
Name: num_words, dtype: float64

In [59]:
#Data Preprocessing
#1.Lowercase
#2.Tokenization
#3.removind special character
#4.removing stop words and punctuation
#5.Stemming

In [61]:
def transform_sentence(text):
    text=text.lower()  #lowercase
    text=nltk.word_tokenize(text) #Tokenization

    temp=[]  # removing special character
    for word in text:
        if word.isalnum():
            temp.append(word)
    text=temp
    
    stopw=[]
    punw=[]
    temp=[]
    from nltk.corpus import stopwords
    stopw=stopwords.words('english')
    import string
    punw=string.punctuation

    for i in text:        #stop words and punctuation removal
        if i not in stopw and i not in punw:
            temp.append(i)
    text=temp
   

    from nltk.stem.porter import PorterStemmer   #Stemming
    ps=PorterStemmer()
    j=0;
    for i in text:
        text[j]=ps.stem(i)
        j=j+1

    return " ".join(text)

In [63]:
df['transformed_Message']=df['Message'].apply(transform_sentence)

In [64]:
df.head()

,Category,Message,num_words,transformed_Message
0,0,"Go until jurong point, crazy.. Available only ...",24,go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,8,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,37,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,13,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",15,nah think goe usf live around though

In [65]:
spam_words=[]
for msg in df[df['Category']==1]['transformed_Message'].tolist():
   for word in msg.split():
       spam_words.append(word)

In [66]:
len(spam_words)

9781

In [67]:
from collections import Counter
Counter(spam_words).most_common(20)

[('call', 311),
 ('free', 186),
 ('2', 154),
 ('txt', 139),
 ('text', 122),
 ('ur', 119),
 ('u', 115),
 ('mobil', 110),
 ('stop', 108),
 ('repli', 103),
 ('claim', 96),
 ('4', 95),
 ('prize', 78),
 ('get', 73),
 ('new', 64),
 ('servic', 64),
 ('send', 60),
 ('tone', 59),
 ('urgent', 56),
 ('award', 55)]

In [73]:
ham_words=[]
for msg in df[df['Category']==0]['transformed_Message'].tolist():
   for word in msg.split():
       ham_words.append(word)

In [75]:
len(ham_words)

35940

In [77]:
from collections import Counter
Counter(ham_words).most_common(20)

[('u', 897),
 ('go', 407),
 ('get', 351),
 ('2', 288),
 ('gt', 288),
 ('lt', 287),
 ('come', 278),
 ('got', 239),
 ('know', 237),
 ('like', 236),
 ('call', 235),
 ('love', 222),
 ('time', 220),
 ('ok', 218),
 ('good', 215),
 ('want', 209),
 ('ur', 203),
 ('day', 195),
 ('ü', 173),
 ('need', 171)]

In [79]:
#Model Building

In [81]:
#vectorization
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer()
tfidf=TfidfVectorizer()

In [83]:
X=cv.fit_transform(df['transformed_Message']).toarray()

In [85]:
X.shape

(5157, 6781)

In [87]:
y=df['Category'].values

In [89]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [91]:
from sklearn.model_selection import train_test_split

In [93]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=67,test_size=0.2)

In [95]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,precision_score

In [97]:
gnb=GaussianNB()
mnb=MultinomialNB()
bnb=BernoulliNB()

In [99]:
gnb.fit(X_train,y_train)
y_pred1=gnb.predict(X_test)
print(accuracy_score(y_pred1,y_test))
print(precision_score(y_pred1,y_test))

0.8682170542635659
0.8849557522123894

In [100]:
#best
mnb.fit(X_train,y_train)
y_pred2=mnb.predict(X_test)
print(accuracy_score(y_pred2,y_test))
print(precision_score(y_pred2,y_test))

0.9777131782945736
0.9203539823008849

In [101]:
bnb.fit(X_train,y_train)
y_pred3=bnb.predict(X_test)
print(accuracy_score(y_pred3,y_test))
print(precision_score(y_pred3,y_test))

0.9699612403100775
0.7522123893805309

In [105]:
import pickle
pickle.dump(cv,open('vectorizer.pkl','wb'))
pickle.dump(mnb,open('model.pkl','wb'))

In [107]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.